:root {
  --bg: #ffffff;
  --fg: #171717;
  --border-color: #333;
  --light-color: #e0e0e0;
  --hover-color: #8095f1;
  --hard-color: #007acc;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

img {
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100svh;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: Helvetica, sans-serif;
  overflow: auto;
  overscroll-behavior: contain;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.header-logo {
  width: 30px;
  height: 30px;
}

.wrapper-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}
.group-input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.input {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-color);
  width: 60px;
  border-radius: 8px;
  font-size: 1rem;
}

.btn {
  padding: 0.5rem;
  border: none;
  background-color: var(--light-color);
  color: var(--bg);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: var(--hover-color);
}
.btn:active,
.btn:focus-visible {
  background-color: var(--hard-color);
}

.wrapper-flip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  max-width: 80vw;
  max-height: 80vh;
  margin-bottom: min(8%, 60px);
}

.flip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.element-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 5px 0;
}
.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--light-color);
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.logo {
  width: 20px;
  height: 20px;
}
